---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,400italic,700italic);
@mixin tblr()
{
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

// MACROS
$base-font-family: 'Roboto Mono', monospace;
$base-font-weight: 400;
$base-font-size:   16px;

$spacing-unit:     16px;

// MEDIA QUERIES
$tablet: "max-width: 1000px";
$mobile: "max-width: 600px";


////// UNIVERSAL
body
{
	overflow-x: hidden;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
}

a, a:visited{color: black; text-decoration: none;}

h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

////// HOME PAGE

.project, img.project, img.project.layer
{
  position: absolute;
  margin: auto; //this is removed with jquery
  top: 0; bottom: 0; left: 0; right: 0;
  
  max-width: 22%;
  @media ($mobile) {
  	max-width: 28%;
  }
}
h2.project
{
	max-width: 90px;
	max-height: 90px;
	@media ($mobile) {
		max-width: 60px;
		max-height: 60px;
	}
	overflow: visible;
}

h2.project.email {max-width: 170px; max-height: 50px; @media ($mobile) {max-width: 120px;}}
h2.project.shuffle{max-width: 50px; max-height: 50px;}
h2.project.about{max-width: 94px; max-height: 120px; @media ($mobile) {max-height: 70px;}}
h2.project.weather{@media ($mobile) {max-height: 70px;}}

a.fun
{
	font-size: 2em;
}
#weather, #email, #about
{
	font-size: .8em;
	@media ($mobile) {
		font-size: .5em;
	}
}

#projectWrapper
{
	position: fixed;
	width: 86vw; height: 86vh;
	margin-left: 7vw; margin-top: 7vh;
	opacity: 0;
}

////// PROJECT PAGES

nav {
	position: relative;
	width: 100%; height: $spacing-unit*4;
	float: right;

	text-align: right;
	box-sizing: border-box;
	z-index: 999;
	font-size: .5em;
}

h1.home {
	position: fixed;
	top: $spacing-unit;
	right: $spacing-unit;

	background-color: white;
	padding: 4px 8px 4px 8px;

	font-size: 24px;
	transition: all 250ms;
	/*
	&:hover{font-size: 0;}
	&:hover:after{
		content: '▪';
		font-size: 36px;
	}*/
}
.back{font-size: .2em;}

#mainColumn
{
	width: 80%;
	overflow-x: hidden;
	li {
		max-height: 95vh;
		margin-bottom: 60px;
		padding: $spacing-unit;
		box-sizing: border-box;
		text-align: center;

		img{
			max-width: 100%; max-height: 90vh; 
			margin: auto;
			box-sizing: border-box;
		}
	}
	@media ($tablet) {
		li{
			margin-bottom: $spacing-unit;
		}
	}
	@media ($mobile) {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		overflow-x: hidden;
		li{
			max-height: none; 
			margin-bottom: $spacing-unit/2;
			img{
				padding-top: $spacing-unit;
			}
		}
	}
}

li#details
{
	position: fixed;
	width: 20%; height: auto;
	right: 0;
	margin-top: 0;

	font-size: .6em;
	line-height: 1.5em;
	text-align: left;

	@media ($mobile) {
		position: relative;
		width: 100%;
		margin-top: $spacing-unit;
	}
}

span.tools{margin-top:0em;}

h1.quote{
	text-align: center; 
	font-size: 2em; 

	@media ($mobile) {
		font-size: 1.5em;
	}
}

#samp
{
	width: 100%; height: 300px;
	background-color: pink;
}

@for $i from 1 through 10 {
	.c#{$i} { width: $i*10%; height: auto; 
		@media ($mobile) {width:100%; height: auto;}
	}
}

////// 404 ERROR
#error
{
  position: absolute;
  @include tblr();
  width: 100%; height: 100%;
  background-color: #FF7262;
  background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFDD89, #FF7262); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFDD89, #FF7262); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFDD89, #FF7262); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFDD89, #FF7262); /* Standard syntax */
}

#error404
{
  position: absolute;
  max-height: 11em;
  @include tblr();
  
  color: white;
  text-align: center;
  h1{font-size: 8em;}
  h2{font-size: 1em;}
  h3{font-size: .8em;}
  a, a:visited{color: white; text-decoration: none;}
  a:hover {text-decoration: underline;}
}
