@import url("https://fonts.googleapis.com/css2?family=Work+Sans%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900%3B1%2C400%3B1%2C600%3B1%2C700%3B1%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-3tp7Rcnrg: #1c1c1c;
  --plasmic-token-black: var(--token-3tp7Rcnrg);
  --token-SlTbg5vV8: #f2f2f2;
  --plasmic-token-white: var(--token-SlTbg5vV8);
  --token-PNd_-u-H3: 16px;
  --plasmic-token-spacer: var(--token-PNd_-u-H3);
  --token-TztiQK-QQ: 32px;
  --plasmic-token-space-rx-2: var(--token-TztiQK-QQ);
  --token-QhsemQUFU: 64px;
  --plasmic-token-space-rx-4: var(--token-QhsemQUFU);
  --token-QcHluUBSF: #526235;
  --plasmic-token-highlight: var(--token-QcHluUBSF);
  --token-Fm7oL37qy: 500px;
  --plasmic-token-project-image: var(--token-Fm7oL37qy);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_experiment_override) {
  --mixin-1kMksC5yjrblJ_font-family: "Work Sans", sans-serif;
  --mixin-1kMksC5yjrblJ_font-size: 32px;
  --mixin-1kMksC5yjrblJ_font-weight: normal;
  --mixin-1kMksC5yjrblJ_font-style: normal;
  --mixin-1kMksC5yjrblJ_color: var(--token-SlTbg5vV8);
  --mixin-1kMksC5yjrblJ_text-align: left;
  --mixin-1kMksC5yjrblJ_text-transform: none;
  --mixin-1kMksC5yjrblJ_line-height: 1.25;
  --mixin-1kMksC5yjrblJ_letter-spacing: normal;
  --mixin-1kMksC5yjrblJ_white-space: pre-wrap;
  --mixin-1kMksC5yjrblJ_user-select: text;
  --mixin-jo1LNbhR5SW4B_font-family: "Inter", sans-serif;
  --mixin-jo1LNbhR5SW4B_color: #000000;
  --mixin-jo1LNbhR5SW4B_font-size: 72px;
  --mixin-jo1LNbhR5SW4B_font-weight: 900;
  --mixin-jo1LNbhR5SW4B_letter-spacing: -4px;
  --mixin-jo1LNbhR5SW4B_line-height: 1;
  --mixin-jo1LNbhR5SW4B_white-space: pre-wrap;
  --mixin-IqTUDDlct3zHe_font-family: "Inter", sans-serif;
  --mixin-IqTUDDlct3zHe_color: #000000;
  --mixin-IqTUDDlct3zHe_font-size: 48px;
  --mixin-IqTUDDlct3zHe_font-weight: 700;
  --mixin-IqTUDDlct3zHe_letter-spacing: -1px;
  --mixin-IqTUDDlct3zHe_line-height: 1.1;
  --mixin-IqTUDDlct3zHe_white-space: pre-wrap;
  --mixin-QmBrTQB6B2VGX_font-family: "Inter", sans-serif;
  --mixin-QmBrTQB6B2VGX_color: #000000;
  --mixin-QmBrTQB6B2VGX_font-size: 32px;
  --mixin-QmBrTQB6B2VGX_font-weight: 600;
  --mixin-QmBrTQB6B2VGX_letter-spacing: -0.8px;
  --mixin-QmBrTQB6B2VGX_line-height: 1.2;
  --mixin-QmBrTQB6B2VGX_white-space: pre-wrap;
  --mixin-0mv6IeH1ITw7x_font-family: "Inter", sans-serif;
  --mixin-0mv6IeH1ITw7x_color: #000000;
  --mixin-0mv6IeH1ITw7x_font-size: 24px;
  --mixin-0mv6IeH1ITw7x_font-weight: 600;
  --mixin-0mv6IeH1ITw7x_letter-spacing: -0.5px;
  --mixin-0mv6IeH1ITw7x_line-height: 1.3;
  --mixin-0mv6IeH1ITw7x_white-space: pre-wrap;
  --mixin-lKnYLthEvoKz__font-family: "Inter", sans-serif;
  --mixin-lKnYLthEvoKz__color: #000000;
  --mixin-lKnYLthEvoKz__font-size: 20px;
  --mixin-lKnYLthEvoKz__font-weight: 600;
  --mixin-lKnYLthEvoKz__letter-spacing: -0.3px;
  --mixin-lKnYLthEvoKz__line-height: 1.5;
  --mixin-lKnYLthEvoKz__white-space: pre-wrap;
  --mixin-wGNmuqcsuBB0C_font-family: "Inter", sans-serif;
  --mixin-wGNmuqcsuBB0C_color: #000000;
  --mixin-wGNmuqcsuBB0C_font-size: 16px;
  --mixin-wGNmuqcsuBB0C_font-weight: 600;
  --mixin-wGNmuqcsuBB0C_line-height: 1.5;
  --mixin-wGNmuqcsuBB0C_white-space: pre-wrap;
  --mixin-3EKqwAX5yebnc_border-left-color: #dddddd;
  --mixin-3EKqwAX5yebnc_border-left-style: solid;
  --mixin-3EKqwAX5yebnc_border-left-width: 3px;
  --mixin-3EKqwAX5yebnc_color: #888888;
  --mixin-3EKqwAX5yebnc_padding-left: 10px;
  --mixin-3EKqwAX5yebnc_white-space: pre-wrap;
  --mixin-221Y6NgDsSW47_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-221Y6NgDsSW47_border-bottom-color: #dddddd;
  --mixin-221Y6NgDsSW47_border-bottom-style: solid;
  --mixin-221Y6NgDsSW47_border-bottom-width: 1px;
  --mixin-221Y6NgDsSW47_border-left-color: #dddddd;
  --mixin-221Y6NgDsSW47_border-left-style: solid;
  --mixin-221Y6NgDsSW47_border-left-width: 1px;
  --mixin-221Y6NgDsSW47_border-right-color: #dddddd;
  --mixin-221Y6NgDsSW47_border-right-style: solid;
  --mixin-221Y6NgDsSW47_border-right-width: 1px;
  --mixin-221Y6NgDsSW47_border-top-color: #dddddd;
  --mixin-221Y6NgDsSW47_border-top-style: solid;
  --mixin-221Y6NgDsSW47_border-top-width: 1px;
  --mixin-221Y6NgDsSW47_border-bottom-left-radius: 3px;
  --mixin-221Y6NgDsSW47_border-bottom-right-radius: 3px;
  --mixin-221Y6NgDsSW47_border-top-left-radius: 3px;
  --mixin-221Y6NgDsSW47_border-top-right-radius: 3px;
  --mixin-221Y6NgDsSW47_font-family: "Inconsolata";
  --mixin-221Y6NgDsSW47_padding-bottom: 1px;
  --mixin-221Y6NgDsSW47_padding-left: 4px;
  --mixin-221Y6NgDsSW47_padding-right: 4px;
  --mixin-221Y6NgDsSW47_padding-top: 1px;
  --mixin-221Y6NgDsSW47_white-space: pre-wrap;
  --mixin-Wiv9RDkqS3NYx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Wiv9RDkqS3NYx_border-bottom-color: #dddddd;
  --mixin-Wiv9RDkqS3NYx_border-bottom-style: solid;
  --mixin-Wiv9RDkqS3NYx_border-bottom-width: 1px;
  --mixin-Wiv9RDkqS3NYx_border-left-color: #dddddd;
  --mixin-Wiv9RDkqS3NYx_border-left-style: solid;
  --mixin-Wiv9RDkqS3NYx_border-left-width: 1px;
  --mixin-Wiv9RDkqS3NYx_border-right-color: #dddddd;
  --mixin-Wiv9RDkqS3NYx_border-right-style: solid;
  --mixin-Wiv9RDkqS3NYx_border-right-width: 1px;
  --mixin-Wiv9RDkqS3NYx_border-top-color: #dddddd;
  --mixin-Wiv9RDkqS3NYx_border-top-style: solid;
  --mixin-Wiv9RDkqS3NYx_border-top-width: 1px;
  --mixin-Wiv9RDkqS3NYx_border-bottom-left-radius: 3px;
  --mixin-Wiv9RDkqS3NYx_border-bottom-right-radius: 3px;
  --mixin-Wiv9RDkqS3NYx_border-top-left-radius: 3px;
  --mixin-Wiv9RDkqS3NYx_border-top-right-radius: 3px;
  --mixin-Wiv9RDkqS3NYx_font-family: "Inconsolata";
  --mixin-Wiv9RDkqS3NYx_padding-bottom: 3px;
  --mixin-Wiv9RDkqS3NYx_padding-left: 6px;
  --mixin-Wiv9RDkqS3NYx_padding-right: 6px;
  --mixin-Wiv9RDkqS3NYx_padding-top: 3px;
  --mixin-Wiv9RDkqS3NYx_white-space: pre-wrap;
  --mixin-SoV8oGpaNMqIa_display: flex;
  --mixin-SoV8oGpaNMqIa_flex-direction: column;
  --mixin-SoV8oGpaNMqIa_align-items: stretch;
  --mixin-SoV8oGpaNMqIa_justify-content: flex-start;
  --mixin-SoV8oGpaNMqIa_list-style-position: outside;
  --mixin-SoV8oGpaNMqIa_padding-left: 40px;
  --mixin-SoV8oGpaNMqIa_position: relative;
  --mixin-SoV8oGpaNMqIa_list-style-type: decimal;
  --mixin-SoV8oGpaNMqIa_white-space: pre-wrap;
  --mixin-6D73lrqIcvqS__display: flex;
  --mixin-6D73lrqIcvqS__flex-direction: column;
  --mixin-6D73lrqIcvqS__align-items: stretch;
  --mixin-6D73lrqIcvqS__justify-content: flex-start;
  --mixin-6D73lrqIcvqS__list-style-position: outside;
  --mixin-6D73lrqIcvqS__padding-left: 40px;
  --mixin-6D73lrqIcvqS__position: relative;
  --mixin-6D73lrqIcvqS__list-style-type: disc;
  --mixin-6D73lrqIcvqS__white-space: pre-wrap;
  --mixin-bX77zxyZ4_padding-top: 4px;
  --mixin-bX77zxyZ4_padding-right: 4px;
  --mixin-bX77zxyZ4_padding-bottom: 4px;
  --mixin-bX77zxyZ4_padding-left: 4px;
  --mixin-bX77zxyZ4_white-space: pre-wrap;
  --mixin-UqBalg-2D_background: linear-gradient(
      60deg,
      #24a8a8 0%,
      #cc6442 27%,
      #808b41 66%,
      #b56645 100%
    )
    0% 0% / 100% 100% repeat;
  --mixin-UqBalg-2D_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-1kMksC5yjrblJ_font-family);
  font-size: var(--mixin-1kMksC5yjrblJ_font-size);
  font-weight: var(--mixin-1kMksC5yjrblJ_font-weight);
  font-style: var(--mixin-1kMksC5yjrblJ_font-style);
  color: var(--mixin-1kMksC5yjrblJ_color);
  text-align: var(--mixin-1kMksC5yjrblJ_text-align);
  text-transform: var(--mixin-1kMksC5yjrblJ_text-transform);
  line-height: var(--mixin-1kMksC5yjrblJ_line-height);
  letter-spacing: var(--mixin-1kMksC5yjrblJ_letter-spacing);
  white-space: var(--mixin-1kMksC5yjrblJ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-jo1LNbhR5SW4B_font-family);
  color: var(--mixin-jo1LNbhR5SW4B_color);
  font-size: var(--mixin-jo1LNbhR5SW4B_font-size);
  font-weight: var(--mixin-jo1LNbhR5SW4B_font-weight);
  letter-spacing: var(--mixin-jo1LNbhR5SW4B_letter-spacing);
  line-height: var(--mixin-jo1LNbhR5SW4B_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-IqTUDDlct3zHe_font-family);
  color: var(--mixin-IqTUDDlct3zHe_color);
  font-size: var(--mixin-IqTUDDlct3zHe_font-size);
  font-weight: var(--mixin-IqTUDDlct3zHe_font-weight);
  letter-spacing: var(--mixin-IqTUDDlct3zHe_letter-spacing);
  line-height: var(--mixin-IqTUDDlct3zHe_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-QmBrTQB6B2VGX_font-family);
  color: var(--mixin-QmBrTQB6B2VGX_color);
  font-size: var(--mixin-QmBrTQB6B2VGX_font-size);
  font-weight: var(--mixin-QmBrTQB6B2VGX_font-weight);
  letter-spacing: var(--mixin-QmBrTQB6B2VGX_letter-spacing);
  line-height: var(--mixin-QmBrTQB6B2VGX_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-0mv6IeH1ITw7x_font-family);
  color: var(--mixin-0mv6IeH1ITw7x_color);
  font-size: var(--mixin-0mv6IeH1ITw7x_font-size);
  font-weight: var(--mixin-0mv6IeH1ITw7x_font-weight);
  letter-spacing: var(--mixin-0mv6IeH1ITw7x_letter-spacing);
  line-height: var(--mixin-0mv6IeH1ITw7x_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-lKnYLthEvoKz__font-family);
  color: var(--mixin-lKnYLthEvoKz__color);
  font-size: var(--mixin-lKnYLthEvoKz__font-size);
  font-weight: var(--mixin-lKnYLthEvoKz__font-weight);
  letter-spacing: var(--mixin-lKnYLthEvoKz__letter-spacing);
  line-height: var(--mixin-lKnYLthEvoKz__line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-wGNmuqcsuBB0C_font-family);
  color: var(--mixin-wGNmuqcsuBB0C_color);
  font-size: var(--mixin-wGNmuqcsuBB0C_font-size);
  font-weight: var(--mixin-wGNmuqcsuBB0C_font-weight);
  line-height: var(--mixin-wGNmuqcsuBB0C_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-3EKqwAX5yebnc_color);
  padding-left: var(--mixin-3EKqwAX5yebnc_padding-left);
  border-left: var(--mixin-3EKqwAX5yebnc_border-left-width)
    var(--mixin-3EKqwAX5yebnc_border-left-style)
    var(--mixin-3EKqwAX5yebnc_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-221Y6NgDsSW47_font-family);
  border-radius: var(--mixin-221Y6NgDsSW47_border-top-left-radius)
    var(--mixin-221Y6NgDsSW47_border-top-right-radius)
    var(--mixin-221Y6NgDsSW47_border-bottom-right-radius)
    var(--mixin-221Y6NgDsSW47_border-bottom-left-radius);
  padding: var(--mixin-221Y6NgDsSW47_padding-top)
    var(--mixin-221Y6NgDsSW47_padding-right)
    var(--mixin-221Y6NgDsSW47_padding-bottom)
    var(--mixin-221Y6NgDsSW47_padding-left);
  border-top: var(--mixin-221Y6NgDsSW47_border-top-width)
    var(--mixin-221Y6NgDsSW47_border-top-style)
    var(--mixin-221Y6NgDsSW47_border-top-color);
  border-right: var(--mixin-221Y6NgDsSW47_border-right-width)
    var(--mixin-221Y6NgDsSW47_border-right-style)
    var(--mixin-221Y6NgDsSW47_border-right-color);
  border-bottom: var(--mixin-221Y6NgDsSW47_border-bottom-width)
    var(--mixin-221Y6NgDsSW47_border-bottom-style)
    var(--mixin-221Y6NgDsSW47_border-bottom-color);
  border-left: var(--mixin-221Y6NgDsSW47_border-left-width)
    var(--mixin-221Y6NgDsSW47_border-left-style)
    var(--mixin-221Y6NgDsSW47_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Wiv9RDkqS3NYx_font-family);
  border-radius: var(--mixin-Wiv9RDkqS3NYx_border-top-left-radius)
    var(--mixin-Wiv9RDkqS3NYx_border-top-right-radius)
    var(--mixin-Wiv9RDkqS3NYx_border-bottom-right-radius)
    var(--mixin-Wiv9RDkqS3NYx_border-bottom-left-radius);
  padding: var(--mixin-Wiv9RDkqS3NYx_padding-top)
    var(--mixin-Wiv9RDkqS3NYx_padding-right)
    var(--mixin-Wiv9RDkqS3NYx_padding-bottom)
    var(--mixin-Wiv9RDkqS3NYx_padding-left);
  border-top: var(--mixin-Wiv9RDkqS3NYx_border-top-width)
    var(--mixin-Wiv9RDkqS3NYx_border-top-style)
    var(--mixin-Wiv9RDkqS3NYx_border-top-color);
  border-right: var(--mixin-Wiv9RDkqS3NYx_border-right-width)
    var(--mixin-Wiv9RDkqS3NYx_border-right-style)
    var(--mixin-Wiv9RDkqS3NYx_border-right-color);
  border-bottom: var(--mixin-Wiv9RDkqS3NYx_border-bottom-width)
    var(--mixin-Wiv9RDkqS3NYx_border-bottom-style)
    var(--mixin-Wiv9RDkqS3NYx_border-bottom-color);
  border-left: var(--mixin-Wiv9RDkqS3NYx_border-left-width)
    var(--mixin-Wiv9RDkqS3NYx_border-left-style)
    var(--mixin-Wiv9RDkqS3NYx_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-SoV8oGpaNMqIa_display);
  flex-direction: var(--mixin-SoV8oGpaNMqIa_flex-direction);
  align-items: var(--mixin-SoV8oGpaNMqIa_align-items);
  justify-content: var(--mixin-SoV8oGpaNMqIa_justify-content);
  list-style-position: var(--mixin-SoV8oGpaNMqIa_list-style-position);
  padding-left: var(--mixin-SoV8oGpaNMqIa_padding-left);
  position: var(--mixin-SoV8oGpaNMqIa_position);
  list-style-type: var(--mixin-SoV8oGpaNMqIa_list-style-type);
  flex-column-gap: var(--mixin-SoV8oGpaNMqIa_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-6D73lrqIcvqS__display);
  flex-direction: var(--mixin-6D73lrqIcvqS__flex-direction);
  align-items: var(--mixin-6D73lrqIcvqS__align-items);
  justify-content: var(--mixin-6D73lrqIcvqS__justify-content);
  list-style-position: var(--mixin-6D73lrqIcvqS__list-style-position);
  padding-left: var(--mixin-6D73lrqIcvqS__padding-left);
  position: var(--mixin-6D73lrqIcvqS__position);
  list-style-type: var(--mixin-6D73lrqIcvqS__list-style-type);
  flex-column-gap: var(--mixin-6D73lrqIcvqS__flex-column-gap);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  padding: var(--mixin-bX77zxyZ4_padding-top)
    var(--mixin-bX77zxyZ4_padding-right) var(--mixin-bX77zxyZ4_padding-bottom)
    var(--mixin-bX77zxyZ4_padding-left);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  background: linear-gradient(
      60deg,
      #24a8a8 0%,
      #cc6442 27%,
      #808b41 66%,
      #b56645 100%
    )
    0% 0% / 100% 100% repeat;
}
