{
    "extends": [
      "airbnb"
    ],
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "jest": true
    },
    "globals": {
      "WEBPACK_ENV": true,
      "module": true,
      "global": true,
    },
    "rules": {
        "import/prefer-default-export": ["off"],
        "no-underscore-dangle": ["off"],
        "react/require-default-props": ["off"],
        "react/prop-types": ["off"],
        "arrow-body-style": ["off"],
    }
}
