$gutterUnit: 8px;
$fontSizeXL: 32px;
$fontSizeLarge: 24px;
$fontSizeNormal: 16px;
$fontSizeSmall: 14px;
$fadeTimeLong: 600ms;
$fadeTimeShort: 300ms;
$swingBezier: cubic-bezier(.02, .01, .47, 1);
$lightBg: #FEFEFE;
$darkBg: #222222;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

.hover-highlight {
    cursor: pointer;
    &:hover {
        background-color: yellow;
    }

    @media (prefers-color-scheme: dark) {
        &:hover {
            background-color: #F56851;
        }
    }
}


div, a, ul, li, button, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Work Sans', monospace, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    color: black;

    @media (prefers-color-scheme: dark) {
        color: #EEEEEE;
        &:visited {
            color: #EEEEEE;
        }
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-weight: 400;
    font-size: 16px;
    background-color: $lightBg;

    @media (prefers-color-scheme: dark) {
        background-color: $darkBg;
    }
}

a, button {
    cursor: pointer;
    text-decoration: underline;

    @extend .hover-highlight;
}

hr {
    border-top: 1px dotted black;

    @media (prefers-color-scheme: dark) {
        background-color: #EEEEEE;
    }
}

.fade-in {
    animation: fadeInAnimation $swingBezier $fadeTimeShort;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

// Must be after fade-in, because cascading
.fade-out {
    animation: fadeOutAnimation $swingBezier $fadeTimeShort;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
     }
}
