<!DOCTYPE html>
<html>

{% include head.html %}

<body onunload="">

	{% include header.html %}
	<div id="mainColumn">
		<ul>
			<li id="details">
				<h1>{{ page.title }}</h1>
				<br/>
				<p>{{ content }}</p>
				<span alt="Tools Used" class="tools">
					<br/>
					<p>&#9998; {{ page.toolsused }}</p>
				</span>
				<br/>
				{% if page.externallink %}
				<a class="prev" href="{{page.previous.url}}/">{{page.externallink}}&#8599;&#xFE0E;</a> / 
				{% endif %}
			</li>
			{% for detail in page.details %}
			<li>{{ detail }}</li>
			{% endfor %}
			<li>&#9786&#xFE0E;</li>
		</ul>
	</div>

</body>

</html>
